.modal-bootstrap {
    background: #fff;
    padding: 30px;
}
.modal-bootstrap h2 {
    font-size: 25px;
    font-weight: 600;
}
.modal-bootstrap p {
    font-size: 16px;
    line-height: 24px;
}
p {
    margin: 0 0 15px;
}
