<div class="row">
  <div class="col-4">
    <div class="container bg-white p-2">
      <div class="mt-2">

        <div class="container col-4 p-2 mb-3">
          <img src="https:/{{BookDatas.image}}" width="150" height="210" alt="">
        </div>

        <div class="mt-2 mb-2">
          <h3 class="text-center mt-2">{{BookDatas.titre}}</h3>
        </div>

        <div style="border-bottom: 1px solid #cccccc">
          <strong>Editeur :</strong> {{BookDatas.editeur.nom}}
        </div>
        <div style="border-bottom: 1px solid #cccccc">
          <strong>Auteurs : </strong> <span class="badge badge-light ml-2" *ngFor="let author of BookDatas.auteurs">{{author.nom}}</span>
        </div>
        <div style="border-bottom: 1px solid #cccccc">
         <strong>Genre:</strong> {{BookDatas.genreLivre.nom}}
        </div>
        <div style="border-bottom: 1px solid #cccccc">
         <strong>ISBN/ISS:</strong> {{BookDatas.isbnIssn}}
        </div>
        <div style="border-bottom: 1px solid #cccccc">
          <strong>Langue: </strong> {{BookDatas.langue}}
        </div>
        <div style="border-bottom: 1px solid #cccccc">
          <strong>Disponibilité : </strong> {{BookDatas.disponibilite}}
        </div>
        <div style="border-bottom: 1px solid #cccccc">
          <strong>Nombre d'exemplaire Total : </strong> {{BookDatas.nbreExemplaireTotal}}
        </div>
        <div style="border-bottom: 1px solid #cccccc">
          <strong>Nombre disponible : </strong> {{BookDatas.nbreExemplaireDisponible}}
        </div>
      </div>

    </div>
  </div>
  <div class="col-8">
    <div class="container bg-white p-2">

      <div class="container col-4 p-2">
        <img src="https:/{{BookDatas.image}}" width="250" height="310" alt="">
      </div>

      <h2 class="text-center"> Description: </h2>

      <div class="mt-2">
        {{BookDatas.description}}
      </div>

    </div>

  </div>
</div>
