


<h3 class="text-center">Changement de mot de passe des Etudiants</h3>


<div class="container col-7 p-2 shadow-sm bg-white">
 <div class="form-group">
   <mat-form-field appearance="fill">
     <mat-label>Année scolaire <span class="text-danger">*</span></mat-label>
     <mat-select  [(ngModel)]="annee_scolaire" name="annee_scolaire" aria-label="Default select example">
       <mat-option [value]=""></mat-option>
       <mat-option *ngFor="let annee of anneeStructure" [value]="annee.anneeScolaire">{{annee.anneeScolaire}}</mat-option>
     </mat-select>
   </mat-form-field>
   <div class="badge badge-danger" *ngIf="annee_scolaire === null || annee_scolaire === undefined || annee_scolaire === '' ">Obligatoire</div>
 </div>
 <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Date d'expiration</mat-label>
      <input matInput [min]="minDate" (focus)="picker?.open()"
            [matDatepicker]="picker" [(ngModel)]="dateExpiration">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="text-center">
     <span *ngIf="spinner" style="text-align: center;">
      <img src="../../../../assets/gif/spinner.gif" width="65" alt="">
       veuillez patienter ...
     </span>
    <button mat-raised-button color="accent" [disabled]="annee_scolaire === null || annee_scolaire === undefined || annee_scolaire === '' " (click)="ChangerLesPasses()" *ngIf="!spinner">Changer les passes</button>
  </div>
    <div class="container d-flex justify-content-center">
      <img src="../../../../assets/images/change_password.png" height = "350" width="100%" alt="">
    </div>
</div>


<!-- Modal Infomation Change -->
<div class="modal fade" id="etutiandInfoChangeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
        <h5 class="modal-title font-weight-bold" id="examodalLabel"><strong><span class="material-icons">edit</span> Changement des données</strong></h5>
        <button type="button" mat-button data-dismiss="modal" aria-label="Close">
          <span class="material-icons">close</span>
        </button>
      </div>
      <div class="modal-body">


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>


