<div *ngIf="spinner1" style="text-align: center;">
  <img style="margin-top: 50px;" src="assets/gif/livre.gif" width="500" alt="">
</div>

<div class="container" *ngIf="!spinner1">
  <div class="row">
    <div class="col-sm-12">
      <h2>Validation des inscriptions</h2>
    </div>
    <div class="col-sm-2">
      <mat-form-field class="example-full-width">
        <mat-label>Prénom</mat-label>
        <input matInput [(ngModel)]="prenom" type="text"
               name="prenom">
      </mat-form-field>
    </div>
    <div class="col-sm-2">
      <mat-form-field class="example-full-width">
        <mat-label>Nom</mat-label>
        <input matInput [(ngModel)]="nom" type="text"
               name="nom">
      </mat-form-field>
    </div>
    <div class="col-sm-2">
      <mat-form-field class="example-full-width">
        <mat-label>Téléphone</mat-label>
        <input matInput [(ngModel)]="telephone" type="number"
               name="telephone">
      </mat-form-field>
    </div>
    <div class="col-sm-2">
      <mat-form-field class="example-full-width">
        <mat-label>Date d'inscription</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="dateInscription" type="text"
               name="dateInscription">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-sm-2">
      <mat-form-field appearance="fill">
        <mat-label>Année scolaire</mat-label>
        <mat-select  [(ngModel)]="annee_scolaire" name="annee_scolaire" aria-label="Default select example">
          <mat-option *ngFor="let annee of anneeStructure" [value]="annee.anneeScolaire">{{annee.anneeScolaire}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-2">
      <mat-form-field appearance="fill">
        <mat-label>Niveau</mat-label>
        <mat-select  [(ngModel)]="niveau" name="niveau" aria-label="Default select example">
          <mat-option value="all">Tout</mat-option>
          <mat-option value="L1">L1</mat-option>
          <mat-option value="L2">L2</mat-option>
          <mat-option value="L3">L3</mat-option>
          <mat-option value="M1">M1</mat-option>
          <mat-option value="M2">M2</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-2">
      <div *ngIf="spinner2" style="text-align: right;">
        <img style="position: absolute; margin-left: -100px;" src="assets/gif/spinner.gif" width="70" alt="">
      </div>
    </div>
    <div class="text-right mr-2">
      <button (click)='adminList()' type="button" style=" background-color: #1e88e5; color: white;" mat-button>
        <mat-icon> search </mat-icon> Afficher</button>
    </div>
    <div class="col-sm-12">
      <br>
      <div *ngIf="error && error.error" class="alert alert-danger" role="alert">
        {{error.error}}
      </div>
      <div *ngIf="message != null" class="alert alert-success" role="alert">
        {{message}}
      </div>
      <div *ngIf="spinner">
        <img src="assets/gif/spinner.gif" width="70" alt="">
      </div>
      <button type="button" (click)="exportexcel()" class="btn btn-success">Exporter en Excel</button>
      &nbsp;
      <button type="button" (click)="exportpdf()" class="btn btn-success">Exporter en Pdf</button>
      <br>
      <mat-form-field>
        <mat-label>Filtrage</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Pierre" #input>
      </mat-form-field>

      <div class="example-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort id="excel-table">

          <ng-container matColumnDef="numDossier" sticky>
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Numéro de préinscription </th>
            <td mat-cell *matCellDef="let row" class="dis"> {{row.numPreInscription}} </td>
          </ng-container>

          <ng-container matColumnDef="prenom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom & nom </th>
            <td mat-cell *matCellDef="let row" class="dis"> {{row.prenom}} {{row.nom}} </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let row" class="dis"> {{row.email}} </td>
          </ng-container>

<!--          <ng-container matColumnDef="nom">-->
<!--            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>-->
<!--            <td mat-cell *matCellDef="let row" class="dis"> {{row.nom}} </td>-->
<!--          </ng-container>-->

          <ng-container matColumnDef="telephone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Téléphone </th>
            <td mat-cell *matCellDef="let row" class="dis"> {{row.telephone}} </td>
          </ng-container>

          <ng-container matColumnDef="genre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Genre </th>
            <td mat-cell *matCellDef="let row" class="dis"> {{row.genre}} </td>
          </ng-container>

          <ng-container matColumnDef="dateDeNaissance">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de naissance </th>
            <td mat-cell *matCellDef="let row" class="dis"> {{row.dateDeNaissance | date: 'yyyy/MM/dd'}} </td>
          </ng-container>

          <ng-container matColumnDef="nationalite">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nationalité </th>
            <td mat-cell *matCellDef="let row" class="dis"> {{row.nationalite}} </td>
          </ng-container>

          <ng-container matColumnDef="modeAdmission">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mode d'admission </th>
            <td mat-cell *matCellDef="let row" class="dis"> {{row.modeAdmission}} </td>
          </ng-container>

<!--          <ng-container matColumnDef="specialite">-->
<!--            <th mat-header-cell *matHeaderCellDef mat-sort-header> Spécialité </th>-->
<!--            <td mat-cell *matCellDef="let row" class="dis"> {{row.specialite}} </td>-->
<!--          </ng-container>-->

          <ng-container matColumnDef="dateCandidature">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de la préinscription </th>
            <td mat-cell *matCellDef="let row" class="dis"> {{row.datePreInscription  | date: 'dd-MM-yyyy'}} </td>
          </ng-container>

          <ng-container matColumnDef="codeOption">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Option </th>
            <td mat-cell *matCellDef="let row" class="dis"> {{row.codeOption}} </td>
          </ng-container>

          <ng-container matColumnDef="typeCandidat">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type de candidat </th>
            <td mat-cell *matCellDef="let row" class="dis"> {{row.typeCandidat}} </td>
          </ng-container>

          <ng-container matColumnDef="action" stickyEnd>
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let row">
              <button type="button" (click)="Document(row)" class="btn btn-warning">Document</button>
              <button type="button" (click)="Delete_PreInscription(row)" class="btn btn-warning"><i class="fa fa-trash text-dange"></i> Supprimer</button>
              <!-- <button type="button" (click)="validateInscription(row)" class="btn btn-success">Valider</button> -->

              <!--                        <button type="button" (click)="ChangerPhoto(row)" class="btn btn-success">Changer la photo</button>-->
              <!-- <button type="button" (click)="validation(false, row.id)" class="btn btn-danger" style="margin-top: 5px;">Non_valide</button> -->
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              <h2 style="text-align: center;">
                Oooops, Pas de données pour cette recherche
              </h2>
            </td>
          </tr>
        </table>
        <mat-paginator
          [length]="length"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions"
          (page)="adminList($event)">
        </mat-paginator>
        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" ></mat-paginator> -->
      </div>
      <div class="col-sm-2">
        <div *ngIf="spinner" style="text-align: right;">
          <img style="position: absolute; margin-left: -100px;" src="assets/gif/spinner.gif" width="70" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Pour l'impression -->

<div class="modal fade" id="exampleModalP3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
<!--        <div class="alert alert-warning">-->
<!--          <i class="fa fa-info-circle text-danger"></i>-->
<!--          <strong>NB:</strong> Vous pouvez imprimer qu'une seule fois la carte d'étudiant et l'attestation d'inscription.-->
<!--          <br>-->
<!--          En cas d'eventuel problème veuillez contacter <strong>l'Admin ou le Secrétaire Principal</strong>.-->
<!--        </div>-->
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <div *ngIf="spinner" style="text-align: right;">
          <img style="position: absolute; margin-left: -100px;" src="assets/gif/spinner.gif" width="70" alt="">
        </div>
<!--        *ngIf='imp !== "yes"'-->
        <button  (click)="imprimer()" type="button" class="btn btn-primary">Imprimer l'attestation</button>
        <button (click)="imprimerCarte(select.prenom, select.nom)" type="button" class="btn btn-primary">Imprimer la carte</button>
<!--        *ngIf='select != undefined && impCart !== "yes"'-->
        </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col col-sm-6">
              <div id="face" style="border-radius: 1em 1em; height: 353px; width: 543px; background: white; border: 7px solid #1e88e5;">

                <div style="background-color: #1e88e5; text-align: center;">
                  <h1 style="color: white; font-weight: bold">{{user.structure.sigle}} {{dateEnCours.anneeScolaire}}</h1>
                </div>
                <br>
                <div style="float: right; margin-top: 10px; text-align: center;" *ngIf="select != undefined">
                  <!-- <ngx-qrcode qrc-element-type="text" [qrc-value]="auth.rechercheTelephone">
                  </ngx-qrcode> -->
                  <div >
<!--                    <img style="border-radius: 50%; height: 130px; width: 130px" src="{{https_photo}}{{select.photo}}" alt="">-->
<!--                    <img style="border-radius: 50%; height: 130px; width: 130px" src="{{https_photo}}{{select.photo}}" crossorigin="anonymous" alt="">-->
                    <img src="{{_http}}{{select.photo}}" style="border-radius: 50%; height: 130px; width: 130px"  alt="">
<!--                    <img style="border-radius: 50%; height: 130px; width: 130px" id="photo_etudiant" alt="">-->
                  </div>
                  <ngx-qrcode qrc-element-type="text" [qrc-value]="select.numEtudiant">
                  </ngx-qrcode>
                </div>
                <div style="margin-left: 10px; line-height:8px;" *ngIf='select != undefined'>
                  <p style="word-wrap: break-word; color: black; font-weight: bold;"><span style="color: orange; font-weight: bold;">N° étudiant : &nbsp;</span> {{select.numEtudiant}}</p>
                  <p style="word-wrap: break-word; color: black; font-weight: bold;"><span style="color: orange; font-weight: bold;">Nom :&nbsp;</span> {{select.nom}}</p>
                  <p style="word-wrap: break-word; color: black; font-weight: bold;"><span style="color: orange; font-weight: bold;">Prénom : &nbsp;</span> {{select.prenom}}</p>
                  <p style="word-wrap: break-word; color: black; font-weight: bold;"><span style="color: orange; font-weight: bold;">Né(e) le : &nbsp;</span> {{select.dateDeNaissance | date: 'dd-MM-yyyy'}}</p>
                  <p style="word-wrap: break-word; color: black; font-weight: bold;"><span style="color: orange; font-weight: bold;">A : &nbsp;</span> {{select.lieuDeNaissance}}</p>
                  <p style="word-wrap: break-word; color: black; font-weight: bold;"><span style="color: orange; font-weight: bold;">Nationalité : &nbsp;</span> {{select2.nationalite}}</p>
                  <p style="word-wrap: break-word; color: black; font-weight: bold;"><span style="color: orange; font-weight: bold;">Adresse : &nbsp;</span> {{select.quartier}}</p>
                  <p style=" color: black; font-weight: bold;"><span style="color: orange; font-weight: bold;">Téléphone :&nbsp;</span> {{select.telephone}}</p>
                  <p style="word-wrap: break-word; color: black; font-weight: bold;"><span style="color: orange; font-weight: bold;">Parcours : &nbsp;</span> {{select.codeFiliere}} - {{select.niveau}}</p>
                  <p style="word-wrap: break-word; color: black; font-weight: bold;"><span style="color: orange; font-weight: bold;">Fait le :&nbsp;</span> {{select.dateInscription | date: 'dd-MM-yyyy'}}</p>

                </div>
              </div>
            </div>
            <div class="col col-sm-6">
              <div id="dos" style="border-radius: 1em 1em; height: 353px; width: 543px; background: white; border: 7px solid #1e88e5;">
                <br>
                <h6 style="color: #1e88e5; text-align: center;">
                  Cette carte ne peut être utilisée que par le signataire autorisé.
                  <br>
                  En cas de découverte, veuillez déposer &nbsp;cette carte à la structure {{user.structure.sigle}}.
                  <br>
                  <div style="font-weight: bold; color: black; padding-top: 10px;">
                    En cas de perte, l'intéressé est tenu d'informer le Service des Ressources Humaines de la structure {{user.structure.sigle}} en fournissant un certificat de perte.
                  </div>
                </h6>
                <hr style="border: 2px solid #1e88e5;">
                <div>
                  <div class="row">
                    <div class="col-sm-6">
                      <img style="border-top-left-radius: 1em; border-top-right-radius: 1em;" height="auto" width="135" src="{{_asset_image}}" alt="">
                    </div>
                    <div class="col-sm-6" style="text-align: end;"  *ngIf="user.structure.logo != undefined">
                      <img src="{{_http}}{{user.structure.logo}}" style="border-top-left-radius: 1em; border-top-right-radius: 1em;" height="auto" width="130" class="structLogo" alt="">
                    </div>
                  </div>
                </div>
                <hr style="border: 2px solid #1e88e5;">
                <h6 style="color: black; text-align: center;">
                  {{user.structure.adresse}}
                </h6>

              </div>
            </div>
          </div>
        </div>
        <br><br>
        <div class="container" id="contentToConvert" style="color: black;">
          <div class="row" style="">
            <div class="col-sm-8">
              <div>{{univ_Minist}}</div>

              <div>
                ------------------
              </div>
              <div>
                {{univ_name}}
              </div>
            </div>
            <div class="col-sm-4">
              <div style="text-align: end;">
                REPUBLIQUE DU MALI
                <div style="font-size: 15px;">
                  Un Peuple - Un But - Une Foi
                </div>
              </div>
            </div>
            <div class="col-sm-3" style="text-align: center; ">
              <br>
              <img src="{{_asset_image}}" alt="" width="170" height="auto">
            </div>
            <div class="col-sm-6">
              <br>
              <div style="padding-left: 30px; padding-right: 30px;">
                <div style="font-size: 20px; text-align: center; text-transform: uppercase; border-bottom: black solid 5px; border-top: black solid 5px; "> {{user.structure.nom}}</div>
              </div>
            </div>

            <div class="col-sm-3" style="text-align: center; " *ngIf="user.structure.logo != undefined">
              <br>
              <img src="{{_http}}{{user.structure.logo}}" class="structLogo" style="background-size: cover;" alt="" width="170" height="auto">
            </div>

            <div class="col-sm-12" style="text-align: center;">
              <span style="font-size: 15px; font-weight: normal;">{{user.structure.adresse}}</span>
            </div>

            <div class="col-sm-12" style="text-align: center;">
              <div style="font-weight: bold; font-size: 30px;">
                Attestation d'inscription
              </div>
              <br>
            </div>
            <!--        <br>-->
            <div class="col-sm-12" style="margin-top: 5px;" *ngIf='select != undefined'>

              <!-- ============================ -->
              <!-- AUTRE CAS -->
              <!-- ============================ -->
              <div *ngIf='env ==="usttb"'>
                <div style="font-size: 15px; font-weight: normal;">
                  Je soussigné(e), Secrétaire Principal(e) de l'(la) {{user.structure.nom}} ({{user.structure.sigle}}), atteste que:
                  <br>
                  l'étudiant ayant les informations ci-dessous, est inscrit dans notre {{user.structure.type}}.
                  <h6 class="font-weight-bold">Détails de l'étudiant</h6>
                </div>
                <table class="table table-bordered table-hover">
                  <tr>
                    <th>Année universitaire</th> <td><strong>{{annee_scolaire2}}</strong>  </td>
                  </tr>
                  <tr>
                    <th>Matricule</th> <td>{{select.numMatricule}}</td>
                  </tr>

                  <tr>
                    <th>N°Etudiant</th> <td>{{select.numEtudiant}}</td>
                  </tr>

                  <tr>
                    <th>Nom</th> <td>{{select.nom}}</td>
                  </tr>

                  <tr>
                    <th>Prénom</th> <td>{{select.prenom}}</td>
                  </tr>

                  <!--          <tr>-->
                  <!--            <th>Nationalité</th> <td>{{select.nationalite}}</td>-->
                  <!--          </tr>-->

                  <tr>
                    <th>Date de Naissance</th> <td>{{select.dateDeNaissance | date: 'dd-MM-yyyy'}}</td>
                  </tr>

                  <tr>
                    <th>Lieu de Naissance</th> <td>{{select.lieuDeNaissance}}</td>
                  </tr>

                  <tr>
                    <th>Genre</th> <td>{{select.genre}}</td>
                  </tr>

                  <tr>
                    <th>nom d'utilisateur</th> <td>{{select.username}}</td>
                  </tr>

                  <tr>
                    <th>mot de passe</th> <td>{{select.password}}</td>
                  </tr>

                  <!--              <tr>-->
                  <!--                <th>Groupe</th> <td>{{select.nom}}</td>-->
                  <!--              </tr>-->

                  <tr>
                    <th>Niveau</th> <td>{{select.niveau}}</td>
                  </tr>

                  <tr>
                    <th>{{univ_fil}}</th> <td>{{select.filiere.nom}}</td>
                  </tr>

                  <tr>
                    <th>{{univ_opt}}</th> <td>{{select.option.nom}}</td>
                  </tr>


                  <!--              <tr>-->
                  <!--                <th>Mode d'amission</th> <td>{{select.modeAdmission}}</td>-->
                  <!--              </tr>-->

                  <tr>
                    <th>Ville</th> <td>{{select.ville}}</td>
                  </tr>

                  <tr>
                    <th>Quartier</th> <td>{{select.quartier}}</td>
                  </tr>

                  <tr>
                    <th>Rue</th> <td>{{select.rue}}</td>
                  </tr>
                  <tr>
                    <th>Porte</th> <td>{{select.porte}}</td>
                  </tr>
                  <tr>
                    <th>Téléphone</th> <td>{{select.telephone}}</td>
                  </tr>

                  <tr>
                    <th>Email</th> <td>{{select.email}}</td>
                  </tr>


                </table>
                <div class="col-sm-12" style="margin-bottom: 10px;">En foi de quoi, le présent certificat lui est délivré pour servir et valoir ce que de droit.</div>
              </div>
              <!-- ============================ -->
              <!-- END AUTRE CAS -->
              <!-- ============================ -->

              <!-- ============================ -->
              <!-- CAS DE LA USSGB -->
              <!-- ============================ -->
              <div *ngIf='env !=="usttb"'>
                <div style="font-size: 15px; font-weight: normal;">
                  Je soussigné(e), Secrétaire Principal(e) de l'(la) {{user.structure.nom}} ({{user.structure.sigle}}), atteste que:
                  <br>
                  <div class="col-sm-7" style="margin-bottom: 10px;"><strong style="padding-right: 30px;">Mlle/M:</strong> {{select.prenom}} {{select.nom}}</div>
                  <div class="col-sm-5" style="margin-bottom: 10px;"><strong style="padding-right: 30px;">Nationalité:</strong> {{select.nationalite}}</div>
                  <div class="col-sm-12" style="margin-bottom: 10px;"><strong style="padding-right: 30px;">Né le:</strong> {{select.dateDeNaissance | date:'dd-MM-yyyy'}} <strong style="padding-right: 30px; padding-left: 30px;">à</strong> {{select.lieuDeNaissance}}</div>
                  <div class="col-sm-6" style="margin-bottom: 10px;"><strong style="padding-right: 30px;">Téléphone:</strong> {{select.telephone}}</div><br>
                  <div class="col-sm-12" style="margin-bottom: 10px;"><strong style="padding-right: 30px;">Email:</strong> {{select.email}}</div>
                  <div class="col-sm-12" style="margin-bottom: 10px;">Est inscrit(e) au titre de l'année universitaire {{annee_scolaire2}} en {{select.nomOption}}</div>
                  <div class="col-sm-12" style="margin-bottom: 10px;">En foi de quoi, le présent certificat lui est délivré pour servir et valoir ce que de droit.</div>
                  <br>
                  <br>

                  <div class="col-sm-12" style="margin-bottom: 10px;">Votre numéro étudiant est: <strong>{{select.numEtudiant}} </strong> </div>
                  <div class="col-sm-12" style="margin-bottom: 10px;">Votre nom d'utilisateur est <strong>{{select.username}} </strong> et votre mot de passe est <strong> {{select.password}}</strong>. Merci de les modifier une fois connecté.</div>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>

                </div>
              </div>
              <!-- ============================ -->
              <!-- END CAS DE LA USSGB -->
              <!-- ============================ -->

              <div class="col-sm-12"><strong style="padding-right: 30px; padding-top: 50px;">Bamako, le:</strong>  {{select.dateInscription[2]+"-"+select.dateInscription[1]+"-"+select.dateInscription[0]}} à {{this.hours}}</div>

              <div class="row">
                <div class="col-sm-4">
                  <!-- Visa de l'agent comptable -->
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4" style="text-align: end;">
                  <div style="text-align: center;">P/O Doyen
                    <br>
                    SECRETAIRE PRINCIPAL</div>
                </div>
              </div>
              <br>
              <br>
              <br>

            </div>

          </div>

        </div>
      </div>

      </div>
    </div>
  </div>




<!-- Pour la verification des documents -->
<div class="modal fade" id="staticBackdropP4" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #1e88e5; color: white;">
        <h5 class="modal-title" id="staticBackdropLabel">Informations</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color: white;">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="border border-light p-5">
          <div style="overflow-y: auto; max-height: 450px;" class="modal-body">
            <div *ngIf="error && error.error" class="alert alert-danger" role="alert">
              {{error.error}}
            </div>
            <div *ngIf="message != null" class="alert alert-success" role="alert">
              {{message}}
            </div>
            <div class="row" *ngIf="data">
              <div class="col-sm-4">
                  <span>
                    <span *ngFor="let candidat of FileArray">
                      <img style="width: 150px;" *ngIf="candidat.nom == 'PHOTO D\'IDENTITE' " src="{{_http}}{{candidat.url}}" alt="">
                    </span>
                  </span>
              </div>
              <div class="col-sm-8">
                <div class="row">
                  <div class="col-sm-6"><strong>Prénom :</strong> {{data.prenom}}</div>
                  <div class="col-sm-6"><strong>Nom :</strong> {{data.nom}}</div>
                  <div class="col-sm-6"><strong>Genre :</strong> {{data.genre}}</div>
                  <div class="col-sm-6"><strong>Date de naissance :</strong> {{data.dateDeNaissance | date: 'dd-MM-yyyy'}}</div>
                  <div class="col-sm-6"><strong>Nationalité :</strong> {{data.nationalite}}</div>
                </div>
                <br>
                <hr>
                <br>
              </div>
              <div class="col-sm-4" *ngFor="let candidat of FileArray">
                <br>
                <!-- <span *ngIf="candidat.url.indexOf('.pdf') !== -1"  style="text-align: center;"> -->
                <a href="{{_http}}{{candidat.url}}" target="_blank" *ngIf="candidat.nom != 'Photo d\'identité'">
                  <i *ngIf="candidat.url.indexOf('.pdf') !== -1" style="font-size: 50px;" class="fa fa-file-pdf-o"></i>
                  <i *ngIf="candidat.url.indexOf('.pdf') == -1" style="font-size: 50px;" class="fa fa-picture-o"></i>
                  <br>
                  {{candidat.nom}}
                </a>
                <!-- </span> -->
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div *ngIf="spinner">
              <img src="assets/gif/spinner.gif" width="70" alt="">
            </div>
            <button type="button" mat-button style="background-color: coral; color: white;" class="waves-light" data-dismiss="modal"mdbWavesEffect>Fermer</button>
            <button type="button" (click)="validateInscription(data)" class="btn btn-success">Valider</button>
            <!-- <button *ngIf="action == 'Modification de l\'évaluation'" (click)="onUpdate()" type="button" mat-button style="background-color: #1e88e5; color: white;" class="relative waves-light" mdbWavesEffect>Modifier</button> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
