
<div class="container col-5 shadow-sm p-1 text-center text-white mb-2" style="border-radius: 10px; background-color: #1e88e5">
  <h5>Liste des emprunt des emprunts</h5>
</div>

<mat-card>
  <mat-card-header>
    <!--<button mat-raised-button (click)="openDialog()">Pick one</button>-->
  </mat-card-header>
  <mat-card-content>
    <div class="search-div">

    <div class="row">
      <div class="col-12">
        <div class="col-4">
          <mat-form-field>
            <mat-label>FILTRE</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="RECHERCHE" #input>
          </mat-form-field>
        </div>
        <table mat-table class="table-hover" [dataSource]="dataSource" matSort>

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->


          <ng-container matColumnDef="AnneeScolaire">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Année Scolaire</th>
            <td mat-cell *matCellDef="let element"> {{element.annee.anneeScolaire}} </td>
          </ng-container>

          <ng-container matColumnDef="Cursus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cursus</th>
            <td mat-cell *matCellDef="let element"> {{element.cursus === null? 'tous les cursus': element.cursus}} </td>
          </ng-container>

          <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
            <td mat-cell *matCellDef="let element"> {{element.dateDebut | date: 'yyyy-MM-dd'}} à {{element.dateFin | date: 'yyyy-MM-dd'}} </td>
          </ng-container>

          <ng-container matColumnDef="Type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button mat-raised-button color="primary" [matMenuTriggerFor]="action">Action</button>
              <mat-menu #action="matMenu">


                <button mat-menu-item (click)="showForm = true; fullEditForm(element)">
                  <i class="fa fa-edit"></i>
                  <span>&nbsp;&nbsp;Modifier</span>
                </button>


<!--                <button mat-menu-item (click)="Delete_Emprunt(element)">-->
<!--                  <i class="fa fa-trash"></i>-->
<!--                  <span>&nbsp;&nbsp;Supprimer</span>-->
<!--                </button>-->
              </mat-menu>
            </td>
          </ng-container>

          <ng-container matColumnDef="loading">
            <td mat-footer-cell *matFooterCellDef colspan="6">
              Chargement des données...
            </td>
          </ng-container>


          <ng-container matColumnDef="noData">
            <td mat-footer-cell *matFooterCellDef colspan="6">
              Pas de données...
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator
          [length]="length"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions">

        </mat-paginator>
      </div>
    </div>
    </div>

  </mat-card-content>
</mat-card>


<!-- Modal -->
<div class="modal fade" id="EmpruntFormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
        <h5 class="modal-title font-weight-bold" id="exampleModalLabel"><span class="material-icons">history_toggle_off</span> Evènement</h5>
        <button type="button" mat-button data-dismiss="modal" aria-label="Close"><span class="material-icons">close</span></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="EmpruntForm"
              (ngSubmit)="submitForm()">
<!--              (ngSubmit)="action === 'creat'?creatEmprunt():creatEmprunt()">-->


          <div class="form-group mt-1">
            <div class="ng-autocomplete form-group mt-1">
              <label for="ouvrages"><strong>Ouvrages à emprunter</strong> <span class="text-danger"></span> <i class="fa fa-info-circle text-info"></i> [Sélectionnez un département avant.] (eventuel)</label>
              <ng-autocomplete formControlName="ouvrages" id="ouvrages" multiple
                               [data]="Ouvrages" [searchKeyword]="keyword"
                               (selected)='ouvragesSelectEvent($event)'
                               [itemTemplate]="itemTemplate"
                               [notFoundTemplate]="notFoundTemplate">
              </ng-autocomplete>

              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.nom"></a>
              </ng-template>

              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound">Pas de corespondance .</div>
              </ng-template>

<!--              <span *ngIf="depChange_Spinner">-->
<!--                <img src="../../../../assets/media/loading/squard.gif" width="25" alt="">-->
<!--              </span>-->
            </div>
            <div class="badge badge-danger"  *ngIf="EmpruntForm.get('ouvrages').touched &&
                    EmpruntForm.get('ouvrages').invalid"><i class="fa fa-info-circle"></i> Champs obligatoire</div>
          </div>


          <div class="row form-group">
            <div class="col">
              <label for="dateDebut">Date de retour <span class="text-danger">*</span></label>
              <input type="date" class="form-control custom_Input" id="dateDebut" formControlName="dateRetour">
              <div class="badge badge-danger"  *ngIf="EmpruntForm.get('dateRetour').touched &&
                    EmpruntForm.get('dateRetour').invalid"><i class="fa fa-info-circle"></i> Champs obligatoire</div>
            </div>
          </div>


          <div class="text-center mt-2 mb-2">
            <button mat-raised-button color="primary" type="submit" [disabled]="EmpruntForm.invalid">
              <i class="fa fa-save"></i>
<!--              {{action === "creat" ? 'ajouter':'Modifier'}}</button>-->
              Valider
            </button>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>

