<p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>

<p-panel>
  <p-header>
    <div class="ui-helper-clearfix">
      <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Statistiques sur le taux de validation des ues</span>
      <button class="btn btn-sm btn-outline-primary" type="button" style="float: right;" (click)="initData(this.structureId)">
        <em class="fa fa-refresh"></em> Actualiser
      </button>
    </div>
  </p-header>


  <div>
    <p-fieldset legend="FITRES STATISTIQUES">
      <table>
        <tr>
          <td style="width: 30%">
            <mat-form-field appearance="fill">
              <mat-label>Année scolaire</mat-label>
              <mat-select (selectionChange)="setAnnee($event.value)" placeholder="Selectionnez une année" [(ngModel)]="anneeScolaire">
                <mat-option *ngFor="let d of anneeScolaires" [value]="d.anneeScolaire">{{d.anneeScolaire}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td style="width: 35%">
              <div class="ng-autocomplete form-group mt-1" style="width: 100%" >
                <ng-autocomplete id="service"
                                 placeholder="Unite d'enseignement"
                                 [data]="ues" [searchKeyword]="keyword"
                                 (selected)='setUE($event)'
                                 [itemTemplate]="itemTemplate"
                                 [notFoundTemplate]="notFoundTemplate">
                </ng-autocomplete>
<!--                (inputFocused)='DepSelect()'-->

                <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.nomUE"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound">Pas de corespondance .</div>
                </ng-template>

                </div>
          </td>

          <td style="width: 30%">
<!--            <mat-form-field appearance="fill">-->
<!--              <mat-label>Element constitutif</mat-label>-->
<!--              <mat-select (selectionChange)="setEC($event.value)" placeholder="Un element constituf" [(ngModel)]="ecSelected">-->
<!--                <mat-option *ngFor="let ec of ecs; index as i;" [value]="ec">{{ec.nomEC}} ({{ec.codeEC}})</mat-option>-->
<!--              </mat-select>-->
<!--            </mat-form-field>-->

            <div class="ng-autocomplete form-group mt-1" style="width: 100%" >
              <ng-autocomplete id="service2"
                               placeholder="Element constitutif"
                               [data]="ecs" [searchKeyword]="keyword2"
                               (selected)='setEC($event)'
                               [itemTemplate]="itemTemplate2"
                               [notFoundTemplate]="notFoundTemplate2">
              </ng-autocomplete>
              <!--                (inputFocused)='DepSelect()'-->

              <ng-template #itemTemplate2 let-item2>
                <a [innerHTML]="item2.nomEC"></a>
              </ng-template>

              <ng-template #notFoundTemplate2 let-notFound2>
                <div [innerHTML]="notFound2">Pas de corespondance .</div>
              </ng-template>

            </div>
          </td>

          <td style="width: 5%;padding-left: 2px;">
            <mat-checkbox class="example-margin" value="true" [(ngModel)]="genre" (change)="setGenre($event.checked)">Genre</mat-checkbox>
          </td>
        </tr>
      </table>
    </p-fieldset>

    <p-fieldset legend="Taux de validation par année : {{anneeScolaire}}">
      <table>
        <tr>
          <td>
            <p-chart type="pie" [data]="pieData"></p-chart>
          </td>
          <td>
            <p-chart type="doughnut" [data]="doughnutData"></p-chart>
          </td>
        </tr>
      </table>
    </p-fieldset>

<!--    <p-fieldset legend="Taux de validation par mois">-->
<!--      <p-chart type="bar" [data]="barreData"></p-chart>-->
<!--    </p-fieldset>-->

<!--    <p-fieldset legend="Taux de validation par mois">-->
<!--      <p-chart type="line" [data]="lineData"></p-chart>-->
<!--    </p-fieldset>-->

  </div>



</p-panel>
