<!--<div class="container shadow-sm">-->
  <!--<div><h6>Gestion des spécialités (terminale 12em)</h6></div>-->
  <!--<div><button class="btn bnt-default"><i class="fa fa-"></i></button></div>-->
<!--</div>-->
<div class="container col-5 shadow-sm p-1 text-center text-white mb-2" style="border-radius: 10px; background-color: #1e88e5">
  <h5>Gestion des spécialités des candidats</h5>
</div>
<mat-card>
  <mat-card-header>
    <!--<button mat-raised-button (click)="openDialog()">Pick one</button>-->
  </mat-card-header>

  <mat-card-content>
    <div class="search-div">
      <button (click)="showFormSat('true'); newSpecialite();" mat-raised-button>
        <i class="fa fa-plus"></i>&nbsp;&nbsp; Ajouter
      </button>

      <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Recherche" autocomplete="off" (keyup)="applyFilter()">
        <!-- <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey !="  (click)="onSearchClear()">
          <i class="fa fa-times"></i>
        </button> -->
      </mat-form-field>
    </div>
<div class="row">

  <div class="col-12">
    <div class="container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->


        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
          <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
          <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" [matMenuTriggerFor]="action">Action</button>
            <mat-menu #action="matMenu">

              <button mat-menu-item (click)="showForm = true; fullEditForm(element)">
                <i class="fa fa-edit"></i>
                <span>&nbsp;&nbsp;Modifier</span>
              </button>


              <button mat-menu-item (click)="Delete_Specialite(element)">
                <i class="fa fa-trash"></i>
                <span>&nbsp;&nbsp;Supprimer</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <ng-container matColumnDef="loading">
          <td mat-footer-cell *matFooterCellDef colspan="6">
            Chargement des données...
          </td>
        </ng-container>


        <ng-container matColumnDef="noData">
          <td mat-footer-cell *matFooterCellDef colspan="6">
            Pas de données...
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]="100"
                    [pageSize]="25"
                    [pageSizeOptions]="[25, 50, 100]">
      </mat-paginator>
    </div>

    </div>

</div>
  </mat-card-content>
</mat-card>

<!-- Modal Affectation de Filière -->
<div class="modal fade" id="filiereAffectFormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Affectation </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="affect">


        <div class="row mt-2" style="border-top: 1px solid #cccccc;" *ngFor="let filiere of ListArray">
          <div class="col" *ngIf="filiere.statut === 'ok' && filiere.nom !== null">
            <input type="checkbox" checked (change)="handelRoleChecking(filiere.id,$event)" class="small form-control">
          </div>

          <div class="col" *ngIf="filiere.statut === 'no' && filiere.nom !== null">
            <input type="checkbox" (change)="handelRoleChecking(filiere.id,$event)" class="small form-control">
          </div>


          <div class="col">
            {{filiere.codeFiliere}} -- {{filiere.nom}}
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button> |
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="affectFiliere()">Affecter</button>
      </div>
    </div>
  </div>
</div>
  </div>

<!-- Modal -->
<div class="modal fade" id="SpecialFormModal" tabindex="-1" aria-labelledby="exaLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
        <h5 class="modal-title font-weight-bold" id="exlLabel"><span class="material-icons">design_services</span> Spécialité</h5>
        <button type="button" mat-button data-dismiss="modal" aria-label="Close"><span class="material-icons">close</span></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="SpecialiteForm"
              (ngSubmit)="creatForm?creatSpecialite(SpecialiteForm):updateSpecialite(SpecialiteForm)" *ngIf="showForm">
          <div class="form-group">
            <label for="nomSpecialie">Libellé <span class="text-danger">*</span></label>
            <input type="text" class="form-control custom_Input" id="nomSpecialie" formControlName="nom">
          </div>
          <div class="form-group">
            <label for="code">Code <span class="text-danger">*</span></label>
            <input type="text" class="form-control custom_Input" id="code" formControlName="code">
          </div>
          <div class="text-center mt-2 mb-2">
<!--            <button mat-button (click)="showFormSat('false')" class="mb-2 text-danger">Annuler</button>-->
            <button mat-raised-button color="primary" type="submit"><i class="fa fa-save"></i> {{creatForm ? 'ajouter':'Modifier'}}</button>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>
