

<div class="container p-2">
  <h2 class="text-center">LISTE DE PASSAGE </h2>

  <div class="p-2">
    <form [formGroup]="SeachForm" (ngSubmit)="SearchList()" *ngIf="!searchF">
      <div class="row">

        <div class="col">
          <label for="anneeScolaire">Année scolaire <span class="text-danger">*</span></label>
          <select class="form-control custom_Input" id="anneeScolaire" formControlName="anneeScolaire">
            <option value=""></option>
            <option value="{{annee.anneeScolaire}}" *ngFor="let annee of structureAnnees">{{annee.anneeScolaire}}</option>
          </select>
        </div>

        <div class="col">
          <label for="type">type de liste <span class="text-danger">*</span></label>
          <select class="form-control custom_Input" id="type" formControlName="type">
            <option value=""></option>

            <optgroup label="------GENERALE-----" *ngIf="!searchDrop">
              <option value="Admis licence">Admis en Licence</option>
            </optgroup>

            <optgroup label="------SANS DETTES-----" *ngIf="!searchDrop">
              <option value="Admis sans dettes L2">Admis sans dettes L2</option>
              <option value="Admis sans dettes L3">Admis sans dettes L3</option>
            </optgroup>

            <optgroup label="--------DETTES---------" *ngIf="!searchDrop">
              <option value="Admis avec dettes L2">Admis avec dettes L2</option>
              <option value="Admis avec dettes L3">Admis avec dettes L3</option>
            </optgroup>

            <optgroup label="------REDOUBLANTS-----" *ngIf="!searchDrop">
              <option value="Redoublant L1">Redoublant L1</option>
              <option value="Redoublant L2">Redoublant L2</option>
              <option value="Redoublant L3">Redoublant L3</option>
            </optgroup>

            <optgroup label="----NOTES MANQUANTES---" *ngIf="searchDrop">
              <option value="note manquantes l1">Notes manquantes L1</option>
              <option value="note manquantes l2">Notes manquantes L2</option>
              <option value="note manquantes l3">Notes manquantes L3</option>
            </optgroup>



          </select>
        </div>

        <div class="col">
          <label for="_fil">Code {{univ_fil}} <span class="text-danger"></span></label>
          <input type="text" class="form-control custom_Input" id="_fil" formControlName="filiere">
        </div>

        <div class="col">
          <label for="numEtudiant">Num étudiant <span class="text-danger"></span></label>
          <input type="text" class="form-control custom_Input" id="numEtudiant" formControlName="num_etudiant">
        </div>

      </div>
      <div class="text-right mt-1">
        <span *ngIf="_spinner" style="text-align: center;">
         <img src="../../../../assets/gif/spinner.gif" width="65" alt="">
        </span>

        <button type="submit" mat-raised-button color="accent" [disabled]="SeachForm.invalid" *ngIf="!_spinner">
          <span class="material-icons">search</span> Recherche</button>


      </div>
    </form>
  </div>



  <div class="mt-3">
    <h2 class="mt-1">{{this.SeachForm.controls.type.value}}</h2>
  </div>
</div>

<mat-tab-group animationDuration="2000ms" (selectedTabChange)="tabClick($event)">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="list">list </mat-icon>
      Liste de Passage
    </ng-template>

    <div class="container p-2 mt-2">
      <mat-form-field>
        <mat-label>Filtre</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table class="table-hover" mat-table [dataSource]="dataSource" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="num">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> numEtudiant </th>
            <td mat-cell *matCellDef="let row"> {{row.numEtudiant}} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
            <td mat-cell *matCellDef="let row"> {{row.nom}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="prenom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </th>
            <td mat-cell *matCellDef="let row"> {{row.prenom}} </td>
          </ng-container>

          <!-- Fruit Column -->
          <ng-container matColumnDef="codeOption">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Code Option </th>
            <td mat-cell *matCellDef="let row"> {{row.codeOption}} </td>
          </ng-container>

          <!-- Fruit Column -->
          <ng-container matColumnDef="dette">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Dette </th>
            <td mat-cell *matCellDef="let row"> {{row.hasOwnProperty('dette') ? row.dette : '-'}} </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator #paginator
                       [length]="length"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="pageSizeOptions">

        </mat-paginator>
      </div>


    </div>

  </mat-tab>
  <!-- 2 -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon text-info">rule </mat-icon>
      Etutiant avec note(s) manquante(s)
    </ng-template>


    <div class="container p-2 mt-2">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter2($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table class="table-hover" mat-table [dataSource]="dataSource2" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="num">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> numEtudiant </th>
            <td mat-cell *matCellDef="let row"> {{row.numEtudiant}} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
            <td mat-cell *matCellDef="let row"> {{row.nom}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="prenom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </th>
            <td mat-cell *matCellDef="let row"> {{row.prenom}} </td>
          </ng-container>

          <!-- Fruit Column -->
          <ng-container matColumnDef="codeOption">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Code Option </th>
            <td mat-cell *matCellDef="let row"> {{row.codeOption}} </td>
          </ng-container>

          <!-- Fruit Column -->
          <ng-container matColumnDef="dette">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Dette </th>
            <td mat-cell *matCellDef="let row"> {{row.hasOwnProperty('dette') ? row.dette : '-'}} </td>
          </ng-container>
          <!-- Fruit Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let row">
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
        </table>

        <mat-paginator #paginator2
                       [length]="length2"
                       [pageSize]="pageSize2"
                       [pageSizeOptions]="pageSizeOptions2">
        </mat-paginator>

      </div>


    </div>

  </mat-tab>

</mat-tab-group>

