<div class="container-fluid" id="container-wrapper">
  <div class="card">

    <div class="card-header">
      <h5 class="card-title">Calculer les notes mes Ec</h5>
    </div>
    <div class="card-body">
      <div class="example-container">
        <form [formGroup]="calculeUes" (ngSubmit)="CalculesNotesGenerale()">
          <div class="row">

            <!--mat-form-field hintLabel="Max 10 characters" appearance="fill">
              <mat-label>Enter some input</mat-label>
              <input matInput #input maxlength="10" placeholder="Ex. Nougat">
              <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
            </mat-form-field-->

            <div class="col-sm-6">
              <mat-form-field appearance="fill">
                <mat-label>Année scolaire</mat-label>

<!--                (selectionChange)="getEcByUE($event.value)"-->
                <mat-select formControlName="anneeScol">

                  <mat-option *ngFor="let anneeLis of anneeLis" [value]="anneeLis">{{anneeLis.anneeScolaire}}</mat-option>
                </mat-select>

              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <mat-form-field appearance="fill">
                <mat-label>Sélectionnez EC</mat-label>

                <mat-select formControlName="ec" >

                  <mat-option *ngFor="let ec of allEc" [value]="ec">{{ec.codeEC}}-{{ec.nomEC}}-{{ec.poid}}</mat-option>
                </mat-select>

              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <mat-form-field appearance="fill">
                <mat-label>Sélectionnez Type</mat-label>

                <mat-select formControlName="type" (selectionChange)="changForms($event.value)">
                  <mat-option  value="EXAMEN"> EXAMEN</mat-option>
                  <mat-option  value="RATTRAPAGE"> RATTRAPAGE</mat-option>


                </mat-select>

              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field appearance="fill">
                <mat-label>Sélectionnez Session</mat-label>

                <mat-select formControlName="session" (selectionChange)="changForms($event.value)">
                  <mat-option  value="1"> session 1</mat-option>
                  <mat-option  value="2"> session 2</mat-option>


                </mat-select>

              </mat-form-field>
            </div>
            <div class="col-sm-6" *ngIf="devoirfield">
              <mat-form-field appearance="fill">
                <mat-label>Coefficient Devoir</mat-label>
                <input matInput type="number" formControlName="coefTD" class="example-right-align">

              </mat-form-field>
            </div>
            <div class="col-sm-6" *ngIf="tpfield">
              <mat-form-field appearance="fill">
                <mat-label>Coefficient TP</mat-label>
                <input matInput type="number" formControlName="coefTp" class="example-right-align">

              </mat-form-field>
            </div>
            <div class="col-sm-6" *ngIf="examfield">
              <mat-form-field appearance="fill">
                <mat-label>Coefficient Examen</mat-label>
                <input matInput type="number" formControlName="coefExam" class="example-right-align">

              </mat-form-field>
            </div>
            <div class="col-sm-12">
            <span *ngIf="spinner">
                <br>
                <br>
                <img src="/assets/gif/spinner.gif" width="70" alt="">
              </span>
              <button mat-raised-button [disabled]="calculeUes.invalid ||spinner" color="primary">Valider</button>

            </div>

          </div>
        </form>

      </div>
    </div>

    </div>
    <h5 class="card-title">Liste des notes Calculer</h5>
    
    <div class="col-12">
      <button type="button" (click)="exportexcel()" class="btn btn-success">Exporter en Excel</button>&nbsp;&nbsp;
    </div>

    <mat-form-field *ngIf="listNoteCalcule != null && listNoteCalcule.length > 0">
      <mat-label>Filtrage</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Tapez ici" #input>
    </mat-form-field>
    <div class="mat-elevation-z8" id="excel-table" *ngIf="listNoteCalcule != null && listNoteCalcule.length > 0">
      <table class="table-hover" mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="numEtudiant">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Numéro étudiant </th>
          <td mat-cell *matCellDef="let row">{{row.numEtudiant}}</td>
        </ng-container>

        <ng-container matColumnDef="prenom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Prénom </th>
          <td mat-cell *matCellDef="let row">{{row.prenom}} </td>
        </ng-container>

        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
          <td mat-cell *matCellDef="let row">{{row.nom}} </td>
        </ng-container>

        <ng-container matColumnDef="date_de_naissance">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de naissance </th>
          <td mat-cell *matCellDef="let row">
            {{row.dateDeNaissance | date: "dd-MM-yyyy"}}
          </td>
        </ng-container>

        <ng-container matColumnDef="niveau">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Niveau </th>
          <td mat-cell *matCellDef="let row"> {{row.niveau}} </td>
        </ng-container>


        <ng-container matColumnDef="lieu_de_naissance">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Lieu de naissance </th>
          <td mat-cell *matCellDef="let row">
            {{row.lieuDeNaissance}}
          </td>
        </ng-container>

        <ng-container matColumnDef="noteDevoir">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Genre</th>
          <td mat-cell *matCellDef="let row">{{row.genre | uppercase}}</td>
        </ng-container>




        <ng-container matColumnDef="noteTP">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Notes TP </th>
          <td mat-cell *matCellDef="let row"> {{row.noteTP}} </td>
        </ng-container>

        <ng-container matColumnDef="noteExamen">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Notes Examen </th>
          <td mat-cell *matCellDef="let row"> {{row.noteExamen}} </td>
        </ng-container>

        <ng-container matColumnDef="noteFinal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Note Finale </th>
          <td mat-cell *matCellDef="let row"> {{row.noteFinal}} </td>
        </ng-container>

       <!-- <ng-container matColumnDef="groupe">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Groupe </th>
          <td mat-cell *matCellDef="let row"> {{row.libelle}} </td>
        </ng-container>-->

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Statut</th>
          <td mat-cell *matCellDef="let row"> {{row.statut}} </td>
      </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            <h2 style="text-align: center;">
              Oooops, Pas de données pour cette recherche
            </h2>
          </td>
        </tr>
      </table>
      <mat-paginator
      [length]="length"
       [pageSize]="pageSize"
       [pageSizeOptions]="pageSizeOptions"
       (page)="afficher($event)">
    </mat-paginator>
    </div>
</div>

