/*CARD DESIGN*/
.card-container {
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.green-container {
  background-image: url('~assets/images/background/green.jpg') !important;
}

.yellow-container {
  background-image: url('~assets/images/background/yellow.jpg') !important;
}

.white-container {
  background-image: url('~assets/images/background/white.jpg') !important;
}

.cpc-container {
  background-image: url('~assets/images/background/cpc.jpg') !important;
}


.green-back-container {
  background-image: url('~assets/images/background/green-back.jpg') !important;
}

.yellow-back-container {
  background-image: url('~assets/images/background/yellow-back.jpg') !important;
}


.white-back-container {
  background-image: url('~assets/images/background/white-back.jpg') !important;
}


.cpc-back-container {
  background-image: url('~assets/images/background/cpc-back.jpg') !important;
}


.number-container-pro {
  position: absolute;
  left: 49%;
  top: 39.1%;
  font-size: 17pt;
  color: red;
  font-family: aggressive;
}
.number-container-white {
  position: absolute;
  font-size: 17pt;
  color: red;
  font-family: aggressive;
  left: 51%;
  top: 38.1%;
}
.number-container-yellow {
  position: absolute;
  font-size: 17pt;
  color: red;
  font-family: aggressive;
  left: 51%;
  top: 37.5%;
}
.number-container-green {
  position: absolute;
  font-size: 17pt;
  color: red;
  font-family: aggressive;
  left: 51%;
  top: 37.5%;
}


.info-container {
  position: absolute;
}

.green-info-container {
  left: 4.7%;
  top: 43.9%;
  height: 52%;
  width: 56%;
}


.yellow-info-container {
  left: 4.7%;
  top: 43.9%;
  height: 52%;
  width: 56%;
}


.white-info-container {
  left: 4.7%;
  top: 44.5%;
  height: 52%;
  width: 56%;
}


.cpc-info-container {
  left: 4.2%;
  top: 45.5%;
  height: 52%;
  width: 56.2%;
}

.info-container table {
  height: 100%;
  width: 100%;
}

.left-info {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  top: 0;
  bottom: 0;
}

.right-info {
  position: absolute;
  height: 100%;
  width: 46%;
  right: 0;
  top: 0;
  bottom: 0;
}

.signature-container {
  position: absolute;
  left: 55%;
  bottom: 3.8%;
  height: 34%;
  width: 22%;
  border-radius: 100%;
  /*background-image: url('~assets/img/cards/stamp.png');*/
  /*background-size: 100% 100%;*/
  /*background-repeat: no-repeat;*/
}


.picture-container-green {
  position: absolute;
  right: 1%;
  bottom: 2.4%;
  height: 58.5%;
  width: 29.3%;
  border-radius: 10%;
}

.picture-container-yellow {
  position: absolute;
  right: 1%;
  bottom: 2.4%;
  height: 58.4%;
  width: 29.3%;
  border-radius: 10%;
  background: white !important;
}
.picture-container-white {
  position: absolute;
  right: 1%;
  bottom: 2.4%;
  height: 57.6%;
  width: 29.3%;
  border-radius: 10%;
  background: white !important;
}
.picture-container-pro {
  position: absolute;
  border-radius: 10%;
  right: 1%;
  bottom: 2.6%;
  height: 57%;
  width: 29.2%;
  background: white !important;
}

.picture-container img {
  height: 100%;
  width: 100%;
  border-radius: 10%;
  /*border: 1px solid gray;*/
}

.signature-container img {
  height: 100%;
  width: 100%;
  border-radius: 10%;
}

.card-separator {
  height: 200px;
  width: 100%;
}


.alligner {
  position: absolute;
  text-align: right;
  color: black;
  font-size: 28px;
  font-weight: bolder;
  border: 1px solid red;
}

.title td {
  height: 25%;
  font-size: small;
  vertical-align: bottom;
  font-family: arial;
}

.title-rep td {
  height: 25%;
  vertical-align: top;
  font-family: aggressive;
}

@font-face {
  font-family: aggressive;
  src: url('src/assets/aicha/css/fontsets/aicha/css/font/AGGRESSIVE.otf');
}

@font-face {
  font-family: arial;
  src: url("src/assets/aicha/css/fontsets/aicha/css/font/Arial.ttf");
}

@font-face {
  font-family: arial-black;
  src: url("src/assets/aicha/css/fontsets/aicha/css/font/arial-black.ttf");
}

.qrcode-container {
  position: absolute;
  left: 40%;
  top: 10%;
  width: 17%;
  height: 30%;
  /*background-image: url("~assets/img/cards/qrcode.png");*/
  /*background-repeat: no-repeat;*/
  /*background-size: 100% 100%;*/
  /*background: blue;*/
}

.num-container {
  position: absolute;
  left: 40%;
  top: 41%;
  width: 17%;
  height: 30%;
  text-align: center;
  font-family: aggressive;
  font-size: larger;
}

.qrcode-container img {
  width: 100%;
  height: 100%;
}

.contact-container {
  position: absolute;
  left: 3.3%;
  top: 69%;
  right: 3.3%;
  text-align: center;
  font-family: aggressive;
  font-size: larger;
}

.addresse-container {
  position: absolute;
  left: 3.3%;
  top: 57%;
  right: 3.3%;
  text-align: center;
  font-family: aggressive;
  font-size: medium;
}

.alert-container {
  position: absolute;
  left: 3.3%;
  top: 88%;
  right: 3.3%;
  font-size: small;
  text-align: center;
}


mat-dialog-container {
  padding: 0 !important;
  width: 100% !important;
}

.top-position {
  position: absolute;
  top: 0;
}

.full-width {
  width: 100% !important;
}

.full-height {
  height: 100% !important;
}

.full-width-height {
  width: 100% !important;
  height: 100% !important;
}

.tp-box {
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: transform 1s;
  -ms-transform: transform 1s;
  transform: transform 1s;
  width: 750px;
  height: 490px;
  margin: 0 !important;
}

.tp-box__side {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tp-box__front {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.tp-box__back {
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.bshadow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100% !important;
  width: 100% !important;
}

textarea {
  margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  opacity: .5;
}

ngx-qrcode {
  height: 100% !important;
  width: 100% !important;
}

.bshadow {
  height: 100% !important;
  width: 100% !important;
}

canvas {
  height: 100% !important;
  width: 100% !important;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  background: #dedede;
  opacity: 0.8;
  padding: 6px;
  width: 100%;
  max-height: 50px;

  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.front-back {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 140px !important;
  height: 100%;
}

.front-back div {
  width: 60px;
  height: 100%;
  cursor: pointer;
}

.front-back div:hover {
  border: 2px dashed black;
}

.front-back img {
  height: 100% !important;
  width: 100% !important;
}


.green-container-sample {
  background-image: url('~assets/images/sample/green.png') !important;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  border-radius: 4px;
}

.yellow-container-sample {
  background-image: url('~assets/images/sample/yellow.png') !important;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  border-radius: 4px;
}

.white-container-sample {
  background-image: url('~assets/images/sample/cmr.png') !important;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  border-radius: 4px;
}

.cpc-container-sample {
  background-image: url('~assets/images/sample/cpc.png') !important;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  border-radius: 4px;
}


.green-back-container-sample {
  background-image: url('~assets/images/sample/green-back.png') !important;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  border-radius: 4px;
}

.yellow-back-container-sample {
  background-image: url('~assets/images/sample/yellow-back.png') !important;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  border-radius: 4px;
}


.white-back-container-sample {
  background-image: url('~assets/images/sample/cmr-back.png') !important;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  border-radius: 4px;
}


.cpc-back-container-sample {
  background-image: url('~assets/images/sample/cpc-back.png') !important;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  border-radius: 4px;
}

.small-card {
  height: 200px;
}

.forth-slide {
  height: 24%;
}

.single-slide {
  height: 70%;
  margin: auto;
}

.half-slide {
  height: 48%;
}

.big-card {
  height: 480px;
}

.printing {
  display: none;
}

.my-class .mat-dialog-container {
  height: 540px;
  border-radius: 20px;
  animation-duration: 4s;
  overflow: hidden;
}
