//.carousel-item {
//  height: 85vh;
//  min-height: 350px;
//  background: no-repeat ;//center center scroll
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  -o-background-size: cover;
//  background-size: cover;
//}
//
//.example-card {
//  max-width: 400px;
//}
//
//.example-header-image {
//  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
//  background-size: cover;
//}

.hover_Lab:hover{
  cursor: pointer;
  background-color: lightblue;
}


.custom_Input{
  padding-bottom: .5px;
  border-bottom: 0.7px solid #cccccc;
  border-left: 0.7px solid #cccccc;
  border-right: 0.7px solid #cccccc;
}
