
<h3 class="text-center">Changement de mot de passe</h3>

<div class="container col-12 p-2 shadow-sm bg-white">
  <form [formGroup]="form">
    <div class="form-group">
   <mat-form-field appearance="fill">
     <mat-label>Ancien mot de passe</mat-label>
     <input matInput placeholder="Ancien mot de passe" formControlName="oldPassword" required [type]="hideOldPassword ? 'password' : 'text'">
     <button mat-icon-button matSuffix (click)="hideOldPassword = !hideOldPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOldPassword">
       <mat-icon>{{hideOldPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
     </button>
   </mat-form-field>

    <mat-form-field appearance="fill">
     <mat-label>Nouveau mot de passe</mat-label>
     <input matInput placeholder="Nouveau mot de passe" formControlName="newPassword" required [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
   </mat-form-field>

    <mat-form-field appearance="fill">
     <mat-label>Confirme nouveau mot de passe</mat-label>
     <input matInput placeholder="Confirme nouveau mot de passe" formControlName="confirmPassword" required [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
   </mat-form-field>


    <button type="button" class="btn btn-primary" [disabled]="!form.valid" (click)="updatePassword(form.value)" *ngIf="!spinner" style="margin-right: 20px;">Changer</button>
    <button type="button" class="btn btn-warning" (click)="dialogRef.close()">Fermer</button>

    </div>
  </form>
  <div class="text-center">
     <span *ngIf="spinner" style="text-align: center;">
      <img src="../../../../assets/gif/spinner.gif" width="65" alt="">
       veuillez patienter ...
     </span>
  </div>
</div>


