
<div class="container-fluid"  style="background-color: white;width: 100%;height: 100%;">
  <div class="row">
    <div class="col-sm-12">

          <h4>Paiement</h4>

          <form [formGroup]="form" novalidate="" role="form" style="margin: 10px;">

        <div class="multiple-fields">
            <mat-form-field appearance="fill">
              <mat-label>Année scolaire</mat-label>
              <mat-select  name="annee_scolaire" aria-label="Default select example" formControlName="annee" required>
                <mat-option *ngFor="let annee of anneeStructure" [value]="annee.anneeScolaire">{{annee.anneeScolaire}}</mat-option>
              </mat-select>
            </mat-form-field>

<!--
            <mat-form-field appearance="fill">
              <mat-label>Niveau</mat-label>
              <mat-select  formControlName="niveau" name="niveau" aria-label="Default select example">
                <mat-option value="all">Tout</mat-option>
                <mat-option value="L1">L1</mat-option>
                <mat-option value="L2">L2</mat-option>
                <mat-option value="L3">L3</mat-option>
                <mat-option value="M1">M1</mat-option>
                <mat-option value="M2">M2</mat-option>
              </mat-select>
            </mat-form-field>
-->

            <mat-form-field appearance="fill">
              <mat-label>Date de début</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="date_debut" name="date_debut"  [max]="now" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Date de fin</mat-label>
              <input matInput [matDatepicker]="picker1" formControlName="date_fin" name="date_fin" [min]="form.value.date_debut" [max]="now" required>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Caissier</mat-label>
            <input type="text"
                   placeholder="Chercher un caissier"
                   matInput
                   formControlName="personnel"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let p of caissiers; let i=index" [value]="p" >
                {{ i + 1 }} - {{p.prenom}} {{p.nom}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
      </div>


        <div class="multiple-fields">
            <button (click)='afficher()' type="button" mat-raised-button [disabled]="form.invalid">
              <mat-icon> search </mat-icon> Afficher
            </button>

          <button (click)='reload()' type="button" mat-raised-button>
              <mat-icon> refresh </mat-icon> Actualiser
            </button>
        </div>


        </form>

    </div>

    <div class="col-sm-12">

      <mat-form-field>
        <mat-label>Filtrage</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="CHercher par diver criter" #input>
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
            <td mat-cell *matCellDef="let row"> {{  row.id}} </td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
            <td mat-cell *matCellDef="let row"> {{  toDate(row.datePaiement) | date: 'dd/MM/yyyy'}} {{toDate(row.heurePaiement) | date: 'HH:MM'}} </td>
          </ng-container>

          <ng-container matColumnDef="numPaiement">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Numéro paiement</th>
            <td mat-cell *matCellDef="let row"> {{  row.numPaiement}} </td>
          </ng-container>

          <ng-container matColumnDef="etudiant">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Etudiant</th>
            <td mat-cell *matCellDef="let row">
              {{  row?.candidat?.prenom}} {{  row?.candidat?.nom}}
            </td>
          </ng-container>

          <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Caissier</th>
            <td mat-cell *matCellDef="let row">
              {{  row?.personnel?.prenom}} {{  row?.personnel?.nom}}
            </td>
          </ng-container>

          <ng-container matColumnDef="montant">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Montant</th>
            <td mat-cell *matCellDef="let row">
              {{ row.montantPaye}} XOF
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let row">
              <button mat-raised-button color="accent" [matMenuTriggerFor]="menu7" >Action</button>
              <mat-menu #menu7="matMenu">
                <button mat-menu-item>
                  <i class="fa fa-money text-success"></i> Encaisser
                </button>
              </mat-menu>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              <h2 style="text-align: center;">
                Pas de données pour cette recherche
              </h2>
            </td>
          </tr>
        </table>

        <mat-paginator
          [length]="paiements.length"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions"
          (page)="afficher($event,$event.pageIndex,$event.pageSize)"
          showFirstLastButtons>
        </mat-paginator>
      </div>
    </div>

  </div>
</div>



