<mat-card>
  <mat-card-header>
    Liste des Specialites Fonctions {{ structure['nom'] }}
  </mat-card-header>
  <mat-card-content>
    <div class="search-div">
      <button (click)="ajouterSpecialiteFoction()" mat-raised-button>
        <i class="fa fa-plus"></i>&nbsp;&nbsp;Ajouter
      </button>
      <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Recherche" autocomplete="off" (keyup)="applyFilter()">
        <!-- <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
          <i class="fa fa-times"></i>
        </button> -->
      </mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->


      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
        <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" [matMenuTriggerFor]="action">Action</button>
          <mat-menu #action="matMenu">
            <button mat-menu-item (click)="modifSpecialiteFoction(element.id,structure['id'])">
              <i class="fa fa-edit"></i>
              <span>&nbsp;&nbsp;Modifier</span>
            </button>
            <button mat-menu-item (click)="supprimerSpecialiteFoction(element.id)">
              <i class="fa fa-trash"></i>
              <span>&nbsp;&nbsp;Supprimer</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <ng-container matColumnDef="loading">
        <td mat-footer-cell *matFooterCellDef colspan="6">
          Chargement des données...
        </td>
      </ng-container>


      <ng-container matColumnDef="noData">
        <td mat-footer-cell *matFooterCellDef colspan="6">
          Pas de données...
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="100"
                   [pageSize]="25"
                   [pageSizeOptions]="[25, 50, 100]">
    </mat-paginator>
  </mat-card-content>
</mat-card>
