<div *ngIf="spinner1" style="text-align: center;">
    <img style="margin-top: 50px;" src="assets/gif/livre.gif" width="500" alt="">
  </div>
  <div class="container-fluid" *ngIf='!spinner1'>
    <div class="row">
      <div class="col-sm-12">
        <mat-card>
          <div class="row" style="padding: 20px;">
            <div class="col-sm-12">
              <h4 >Notes calculées par UE</h4>
            </div>

            <div class="col-sm-2">
                <mat-form-field appearance="fill">
                    <mat-label>Sélectionnez Session</mat-label>
                    <mat-select [(ngModel)]="session" >
                      <mat-option  value="1"> session 1</mat-option>
                      <mat-option  value="2"> session 2</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
          <div class="col-sm-2">
            <mat-form-field appearance="fill">
            <mat-label>Année scolaire</mat-label>
            <mat-select  [(ngModel)]="annee_scolaire" name="annee_scolaire" aria-label="Default select example">
                <mat-option *ngFor="let annee of anneeStructure" [value]="annee.anneeScolaire">{{annee.anneeScolaire}}</mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-4" *ngIf='type == false'>
            <div >
                <!-- <mat-label>Liste de vos UE</mat-label> -->
                <span style="font-size: 12px; color: rgb(211, 85, 85);">Veuillez séléctionner et non écrire dans le champs</span>
                <ng-autocomplete
                  [data]="allUe"
                  (selected)='UeSelectEvent($event)'
                  [searchKeyword]="Uekeyword"
                  placeholder="Liste de vos UE"
                  [itemTemplate]="itemTemplateStatic"
                  [notFoundTemplate]="notFoundTemplate">
                </ng-autocomplete>

                <ng-template #itemTemplateStatic let-item>
                  <a [innerHTML]="item.nomUE"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound> 
                  <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
      </div>

      <div class="col-sm-4">
        <mat-form-field appearance="fill">
            <mat-label>Type de retour</mat-label>
            <mat-select [(ngModel)]="typeRetour" >
              <mat-option  value="tout"> Toutes les notes</mat-option>
              <mat-option  value="VALIDE"> Notes validées</mat-option>
              <mat-option  value="NON_VALIDE"> Notes non validées</mat-option>
              <mat-option  value="PAS_NOTE"> Sans notes</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field appearance="fill">
        <mat-label>Numéro étudiant</mat-label>
        <input matInput [(ngModel)]="num_etudiant" class="example-right-align">
      </mat-form-field>
    </div>

      <div class="col-sm-2">
        <button [disabled]="session === undefined || session === '' || session === null || annee_scolaire === undefined || annee_scolaire === '' || annee_scolaire === null" (click)='afficher()' type="button" style=" background-color: #1e88e5; color: white;" mat-button>
          <mat-icon> search </mat-icon> Afficher</button>
    </div>
    <div class="col-sm-2">
      <div *ngIf="spinner" style="text-align: right;">
        <img style="position: absolute; margin-left: -100px;" src="assets/gif/spinner.gif" width="70" alt="">
    </div>
    </div>

    </div>

        </mat-card>
      </div>
      <div class="col-sm-12">
        <br>
        <div *ngIf="error && error.error" class="alert alert-danger" role="alert">
          {{error.error}}
        </div>
        <div *ngIf="message != null" class="alert alert-success" role="alert">
          {{message}}
        </div>
        <br>
        <div class="row">
          <div class="col-6" *ngIf="SendNoteToDelete.length > 0">
            <div class="d-flex align-items-center">
              <button mat-raised-button color="warn" (click)="ConfirmeDelete()">
                <i class="fa fa-trash"></i>
                Supprimer la/les notes
              </button>
            </div>
          </div>
          <div class="col-12">
            <button type="button" (click)="exportexcel()" class="btn btn-success">Exporter en Excel</button>
          </div>
          <div class="col-6">
            <mat-form-field>
              <mat-label>Filtrage</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Pierre" #input>
            </mat-form-field>
          </div>
        </div>
        <div id="excel-table">
            <div class="mat-elevation-z8" id="excel-table">
              <table class="table-hover" mat-table [dataSource]="dataSource" matSort style="width: 100%;">

                <ng-container matColumnDef="check">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <input type="checkbox" class="form-check-input" name="allSelector" (change)="isCheckedOrNot($event)">
                  </th>
                  <td mat-cell *matCellDef="let row" >
                    <button class="btn" (click)="ConfirmeSingleDelete(row)"><i class="fa fa-trash text-danger"></i></button>
                    |
                    <input type="checkbox" class="ck" name="check{{row.id}}"
                           (change)="isCheckedOrNot($event)" value="{{row.id}}">
                  </td>
                </ng-container>

                <ng-container matColumnDef="numEtudiant">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Numéro étudiant </th>
                    <td mat-cell *matCellDef="let row">{{row.numEtudiant}}</td>
                  </ng-container>

                  <ng-container matColumnDef="prenom">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Prénom </th>
                    <td mat-cell *matCellDef="let row">{{row.prenom}} </td>
                  </ng-container>

                  <ng-container matColumnDef="nom">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
                    <td mat-cell *matCellDef="let row">{{row.nom}} </td>
                  </ng-container>

                  <ng-container matColumnDef="niveau">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Niveau </th>
                    <td mat-cell *matCellDef="let row"> {{row.niveau}} </td>
                  </ng-container>

                  <ng-container matColumnDef="session">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Semestre</th>
                    <td mat-cell *matCellDef="let row">{{row.session}}</td>
                  </ng-container>

                  <ng-container matColumnDef="coeffDev">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Coefficient Devoir</th>
                    <td mat-cell *matCellDef="let row">{{row.coeffDev}}</td>
                  </ng-container>


                  <ng-container matColumnDef="coeffTP">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Coefficient TP </th>
                    <td mat-cell *matCellDef="let row"> {{row.coeffTP}} </td>
                  </ng-container>

                  <ng-container matColumnDef="coeffEx">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Coefficient Examen </th>
                    <td mat-cell *matCellDef="let row"> {{row.coeffEx}} </td>
                  </ng-container>

                  <ng-container matColumnDef="noteDevoir">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Note Devoir</th>
                    <td mat-cell *matCellDef="let row">{{row.noteDevoir}}</td>
                  </ng-container>


                  <ng-container matColumnDef="noteTP">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Note TP </th>
                    <td mat-cell *matCellDef="let row"> {{row.noteTP}} </td>
                  </ng-container>

                  <ng-container matColumnDef="noteExamen">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Notes Examen </th>
                    <td mat-cell *matCellDef="let row"> {{row.noteExamen}} </td>
                  </ng-container>

                  <ng-container matColumnDef="noteFinal">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Note Finale </th>
                    <td mat-cell *matCellDef="let row"> {{row.noteFinal}} </td>
                  </ng-container>

                 <!-- <ng-container matColumnDef="groupe">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Groupe </th>
                    <td mat-cell *matCellDef="let row"> {{row.libelle}} </td>
                  </ng-container>-->

                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Statut</th>
                    <td mat-cell *matCellDef="let row"> {{row.statut}} </td>
                </ng-container>




                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">
                    <h2 style="text-align: center;">
                      Oooops, Pas de données pour cette recherche
                    </h2>
                  </td>
                </tr>
              </table>
              <mat-paginator
              [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="afficher($event)">
  </mat-paginator>
            </div>
        </div>
            <div class="col-sm-2">
              <div *ngIf="spinner" style="text-align: right;">
                <img style="position: absolute; margin-left: -100px;" src="assets/gif/spinner.gif" width="70" alt="">
            </div>
            </div>
      </div>
    </div>
  </div>









